h3{
    font-size: 15px !important;
    font-family: cursive;
    font-weight: bold;
}
.btn:hover{
    background: linear-gradient(#60ebeb 0%,#eb347a 100%);


}
.btn{
    background: linear-gradient(#eb347a 0%#60ebeb 100%);  

}
canvas {
    animation-name: example;
    animation-duration :4s;
     animation-iteration-count: infinite;

}
@keyframes example{
    from{box-shadow: 1px 1px 40px blue; }
    to { box-shadow: 1px 1px 40px red ;}
   }
   